.Advertise {
    margin: 60px auto;
}

.image-slider {
    overflow: hidden;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.slider-wrapper {
    display: flex;
    width: max-content;
    animation: slide 15s linear infinite;
}

.slider-wrapper img {
    width: 150px;
    height:150px;
    margin-top: 20px;
    margin-right: 30px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

@media (max-width: 900px) {
    .slider-wrapper img {
        width: 100px;
        height: 100px;
    }
}
